
.container{
	position: relative;
	width: 1920px;
	left: 50%;
	margin-left: -960px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	border: 1px solid transparent;
}
.container .container-bg{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.bg-img{
	display: block;
	width: 100%;
	height: 100%;
}
.section{
	position: relative;
	width: 1920px;
	left: 50%;
	margin-left: -960px;
}
.banner{
	position: absolute;
}
.btn-ele{
	position: absolute;
	display: inline-block;
}
.image-ele{
	position: absolute;
	display: inline-block;
}
.img-link{
	position: absolute;
	display: inline-block;
}