.m-container{
	position: relative;
	margin: 0 auto;
	max-width: 7.5rem;
	overflow: hidden;
}
.m-container p, .m-cotainer h1{
	margin: 0;
	padding: 0;
}
.m-whole{
	position: relative;
	min-height: 10px;
}
.m-whole h1{
	margin: 0;
}
.m-container img{
	width: 100%;
    height: auto;
    border: 0;
    vertical-align: top;
}
.mlink{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.mlink a{
	display: block;
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-image: url(about:blank);
}